* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightblue;
}

.msg {
  margin-bottom: 20vh;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  width: 200px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: lightgrey;
  color: black;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background: #000000;
  color: yellow;
}

.footer {
  width: 100vw;
  height: 10px;
  margin-top: 20vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}